# Terraform Files
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform*

__pycache__/



# Crash log files
crash.log

# .tfvars files (optional)
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.exe

# .terraform.lock.hcl
.terraform.lock.hcl

.venv/